.btn {
    border-radius: var(--radius-lg);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-cg);
    color: #fff;
    text-decoration: none;
    padding: 6px 24px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    transition: all 0.3s ease;
}

.btn:hover {
    box-shadow: 0 0 4px 0 #67BD96;
    opacity: 1;
}

.btn-primary {
    background:
        url("../../img/btn-bg.png") center/cover no-repeat;
}

.btn-primary:hover {
    background: url("../../img/btn-bg-hover.png") center/cover no-repeat;
}

.btn-secondary {
    background: var(--green-5);
}

.btn-secondary:hover {
    opacity: 0.8;
}

.btn--booking {
    font-size: 32px;
}

.btn--footer {
    font-size: 28px;
    padding: 2px 24px;
}

@media screen and (max-width: 785px) {
    .btn {
        font-size: 20px;
    }
}